/* 
 - css as it exists today
 */
.block {
	color: green;
	box-sizing: border-box;
	height: auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: relative;
	width: 100%;
	z-index: 1;
}

.some-ancestor-context .block {
	color: blue;
}

.some-preceding-context ~ .block {
	color: yellow;
}

p {
	font-size: 1.125rem;
}

p + p {
	padding-top: 0.25rem;
}

article p + p {
	padding-top: 0.5rem;
}

h2 ~ p + p {
	padding-top: 0.5rem;
}
